# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=your_database

# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=1h

# Other Configuration
API_URL=http://localhost:3000/api

# Tenant 1 Configuration
TENANT_1_ID=1
TENANT_1_PUBLIC_ID=tenant_1_public_id
TENANT_1_DATABASE=dbname

TENANT_1_TYPE=postgres
TENANT_1_HOST=host.docker.internal
TENANT_1_PORT=5432
TENANT_1_USERNAME=postgres
TENANT_1_PASSWORD=postgres
TENANT_1_SYNCHRONIZE=N

ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password